/* body,html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
} */
.head {
    /* border: 2px solid black; */
    /* height: 5em; */
    font-family: 'Lobster', cursive;
    display: flex;
    flex-direction: row;
    align-items: center ;
    justify-content: space-evenly ;
    font-size: 77px;
    color: #2b2e4a;
    margin-top: 5px;
}
.head img{
    width: 110px;
}
.subhead{
    margin-top: 10px;
    color: white ;
    font-size: 17px;
    background-color: #2b2e4a;
    border-radius: 90px;
}
nav
{
    border: 2px solid #2b2e4a;
    background-color: #2b2e4a;
    margin-top: 30px;
    padding: 10px;
    border-radius: 90px;
}
nav ul
{
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    padding-inline-start: 0px;
    margin-bottom: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}
nav ul a{
    font-size: 15px;
    text-decoration: none;
    color: white;
}
nav ul button a:hover{
    color: #a8dadc ;
}
.dropbtn{
    background-color: #2b2e4a ;
    font-family:Georgia, 'Times New Roman', Times, serif ;
    font-size: 17px;
    border: none ;
    /* color: white; */
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
li:nth-child(11) .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 159px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration :none;
    display: block;
    border-bottom: 0.1px solid grey;
    font-family:Georgia, 'Times New Roman', Times, serif ;
}
.dropdown-content a:hover{
    background-color: #caf0f8 ;
}
.dropdown:hover .dropdown-content{
    display: block;
}
#carouselExampleCaptions{
    padding-top: 2px;
}
#carouselExampleCaptions img{
    border-radius: 50px;
    animation: zoom 15s infinite;
}
#carouselExampleCaptions h5{
    font-size: 60px;
}
#carouselExampleCaptions p{
    font-size: 20px;
}
@keyframes zoom {
    100%{
        transform: scale(1.1);
    }
}
.bubbles{
    border: 1px solid #48cae4;
    background: #e2eafc;
    border-radius: 20px;
    height: 620px;
    margin-top: 10px;
    position: relative;
}
.img-1{
    position: absolute;
    border-radius: 10px;
    height: 100px;
    top: 2%;
    left: 1%;
}
.img-2{
    position: absolute;
    border-radius: 10px;
    height: 100px;
    top: 22%;
    left: 1%;
}
.img-3{
    position: absolute;
    border-radius: 10px;
    height: 100px;
    top: 42%;
    left: 1%;
}
.img-4{
    position: absolute;
    border-radius: 10px;
    height: 100px;
    top: 62%;
    left: 1%;
}
.img-5{
    position: absolute;
    border-radius: 10px;
    height: 100px;
    top: 82%;
    left: 1%;
}
.img-6{
    position: absolute;
    border-radius: 10px;
    height: 100px;
    top: 2%;
    right: 1%;
}
.img-7{
    position: absolute;
    border-radius: 10px;
    height: 100px;
    top: 22%;
    right: 1%;
}
.img-8{
    position: absolute;
    border-radius: 10px;
    height: 100px;
    top: 42%;
    right: 1%;
}
.img-9{
    position: absolute;
    border-radius: 10px;
    height: 100px;
    top: 62%;
    right: 1%;
}
.img-10{
    position: absolute;
    border-radius: 10px;
    height: 100px;
    top: 82%;
    right: 1%;
}
.res-circle-1 {
    border: 2px solid #0077b6;
    width: 17%;
    border-radius: 50%;
    background: #bcd6ff;
    line-height: 0;
    position: absolute;
    /* margin: auto; */
    top: 27%;
    left: 42%;
    
}
.res-circle-1::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}
.circle-1-txt-1 {
    font-size: 38px;
    color: #023e8a;
    position: absolute;
    bottom: 50%;
    width: 100%;
    text-align: center;
    font-weight: bold;
}
.circle-1-txt-2 {
    font-size: 32px;
    color: #023e8a;
    position: absolute;
    bottom: 38%;
    width: 100%;
    text-align: center;
    font-weight: bold;
}
.res-circle-2 {
    border: 2px solid #ff9e00;
    width: 10%;
    border-radius: 50%;
    background: yellow;
    line-height: 0;
    position: absolute;
    margin: auto;
    top: 4%;
    left: 20%;
    transition: all 0.25s;
}
.res-circle-2::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}
.circle-2-anchor{
    text-decoration: none;
}
.res-circle-2:hover{
    box-shadow: 0px 0.5em 0.5em -0.6px #ff9e00;
    transform: translateY(-0.25em) ;
}
.circle-2-txt-1 {
    font-size: 30px;
    color: #023e8a;
    position: absolute;
    bottom: 60%;
    width: 100%;
    text-align: center;
    font-weight: bolder;
}
.circle-2-txt-2 {
    font-size: 15px;
    font-weight: bolder;
    color: #023e8a;
    position: absolute;
    bottom: 44%;
    width: 100%;
    text-align: center;
    font-weight: bolder;
}
.res-circle-3 {
    border: 2px solid #b9375e;
    width: 8%;
    border-radius: 50%;
    background: #ff7aa2;
    line-height: 0;
    position: absolute;
    /* margin: auto; */
    top: 30%;
    left: 26%;
    transition: all 0.25s;
}
.res-circle-3::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}
.circle-3-anchor{
    text-decoration: none;
}
.res-circle-3:hover{
    box-shadow: 0px 0.5em 0.5em -0.6px #b9375e;
    transform: translateY(-0.25em) ;
}
.circle-3-txt-1 {
    font-size: 25px;
    color: #023e8a;
    position: absolute;
    bottom: 65%;
    width: 100%;
    text-align: center;
    font-weight: bolder;
}
.circle-3-txt-2 {
    font-size: 16px;
    font-weight: bolder;
    color: #023e8a;
    position: absolute;
    bottom: 48%;
    width: 100%;
    text-align: center;
    font-weight: bolder;
}
.circle-3-txt-3 {
    font-size: 16px;
    font-weight: bolder;
    color: #023e8a;
    position: absolute;
    bottom: 32%;
    width: 100%;
    text-align: center;
    font-weight: bolder;
}
.res-circle-4 {
    border: 2px solid #007200;
    width: 8%;
    border-radius: 50%;
    background: #70e000;
    line-height: 0;
    position: absolute;
    margin: auto;
    top: 55%;
    left: 21%;
    transition: all 0.25s;
}
.res-circle-4::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}
.circle-4-anchor{
    text-decoration: none;
}
.res-circle-4:hover{
    box-shadow: 0px 0.5em 0.5em -0.6px #007200;
    transform: translateY(-0.25em) ;
}
.circle-4-txt-1 {
    font-size: 30px;
    color: #023e8a;
    position: absolute;
    bottom: 53%;
    width: 100%;
    text-align: center;
    font-weight: bolder;
}
.res-circle-5 {
    border: 2px solid #d4a373;
    width: 9%;
    border-radius: 50%;
    background: #fec89a;
    line-height: 0;
    position: absolute;
    margin: auto;
    top: 73%;
    left: 27%;
    transition: all 0.25s;
}
.res-circle-5::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}
.circle-5-anchor{
    text-decoration: none;
}
.res-circle-5:hover{
    box-shadow: 0px 0.5em 0.5em -0.6px #d4a373;
    transform: translateY(-0.25em) ;
}
.circle-5-txt-1 {
    font-size: 25px;
    color: #023e8a;
    position: absolute;
    bottom: 55%;
    width: 100%;
    text-align: center;
    font-weight: bolder;
}
.circle-5-txt-2 {
    font-size: 17px;
    font-weight: bolder;
    color: #023e8a;
    position: absolute;
    bottom: 35%;
    width: 100%;
    text-align: center;
    font-weight: bolder;
}
.res-circle-6 {
    border: 2px solid #ffafcc;
    width: 8%;
    border-radius: 50%;
    background: #fad2e1;
    line-height: 0;
    position: absolute;
    margin: auto;
    top: 5%;
    left: 64%;
    transition: all 0.25s;
}
.res-circle-6::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}
.circle-6-anchor{
    text-decoration: none;
}
.res-circle-6:hover{
    box-shadow: 0px 0.5em 0.5em -0.6px #ffafcc;
    transform: translateY(-0.25em) ;
}
.circle-6-txt-1 {
    font-size: 30px;
    color: #023e8a;
    position: absolute;
    bottom: 55%;
    width: 100%;
    text-align: center;
    font-weight: bolder;
}
.res-circle-7 {
    border: 2px solid #52b788;
    width: 8%;
    border-radius: 50%;
    background: #d8f3dc;
    line-height: 0;
    position: absolute;
    margin: auto;
    top: 20%;
    left: 75%;
    transition: all 0.25s;
}
.res-circle-7::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}
.circle-7-anchor{
    text-decoration: none;
}
.res-circle-7:hover{
    box-shadow: 0px 0.5em 0.5em -0.6px #52b788;
    transform: translateY(-0.25em) ;
}
.circle-7-txt-1 {
    font-size: 25px;
    color: #023e8a;
    position: absolute;
    bottom: 50%;
    width: 100%;
    text-align: center;
    font-weight: bolder;
}
.res-circle-8 {
    border: 2px solid #e85d04;
    width: 8%;
    border-radius: 50%;
    background: #ffd166;
    line-height: 0;
    position: absolute;
    margin: auto;
    top: 45%;
    left: 68%;
    transition: all 0.25s;
}
.res-circle-8::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}
.circle-8-anchor{
    text-decoration: none;
}
.res-circle-8:hover{
    box-shadow: 0px 0.5em 0.5em -0.6px #e85d04;
    transform: translateY(-0.25em) ;
}
.circle-8-txt-1 {
    font-size: 30px;
    color: #023e8a;
    position: absolute;
    bottom: 50%;
    width: 100%;
    text-align: center;
    font-weight: bolder;
}
.res-circle-9 {
    border: 2px solid #7209b7;
    width: 7%;
    border-radius: 50%;
    background: #deaaff;
    line-height: 0;
    position: absolute;
    margin: auto;
    top: 72%;
    left: 67%;
    transition: all 0.25s;
}
.res-circle-9::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}
.circle-9-anchor{
    text-decoration: none;
}
.res-circle-9:hover{
    box-shadow: 0px 0.5em 0.5em -0.6px #7209b7;
    transform: translateY(-0.25em) ;
}
.circle-9-txt-1 {
    font-size: 25px;
    color: #023e8a;
    position: absolute;
    bottom: 50%;
    width: 100%;
    text-align: center;
    font-weight: bolder;
}
.line-2{
    position: absolute;
    top: 10%;
    left: 25%;
}
.line-3{
    position: absolute;
    top: 40%;
    left: 33%;
}
.line-4{
    position: absolute;
    top: 50%;
    left: 28%;
}
.line-5{
    position: absolute;
    top: 55%;
    left: 35%;
}
.line-6{
    position: absolute;
    top: 20%;
    left: 50%;
}
.line-7{
    position: absolute;
    top: 15%;
    left: 50%;
}
.line-8{
    position: absolute;
    top: 45%;
    left: 58%;
}
.line-9{
    position: absolute;
    top: 50%;
    left: 55%;
}
.cards{
    margin-top: 10px;
    display: flex;
    height: 500px;
    justify-content: space-evenly;
}
.cards-header-1{
    position: sticky;
    top: 0;
    background-color: #f9dcc4;
    color: #ddbea9;
    margin-top: 0;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 2rem;
    font-weight: bold;
}
.cards-1{
    width: 25%;
    border-radius: 10px;
    background-color: #f7ede2;
    overflow-y: scroll;
}
.cards-1 ul{
    padding-left: 30px;
    list-style-image: url(caret-right-fill.svg) ;
}
.cards-1 ul button{
    border: none;
    padding: 10px;
    background-color: white;
    background-color: #f7ede2;
    text-align: left;
}
.cards-1 ul a:hover{
    color: #f3722c;

}
.cards-1 ul a{
    color: black;
    text-decoration: none;
    font-size: 15px;
}
.cards-1::-webkit-scrollbar{
    width: 10px;
}
.cards-1::-webkit-scrollbar-track{
background-color: #f1f1f1
}
.cards-1::-webkit-scrollbar-thumb{
    background-color: #ddbea9;
}
.cards-1::-webkit-scrollbar-thumb:hover {
    background: #f9dcc4; 
}
.cards-2{
    width: 25%;
    border-radius: 10px;
    background-color: #f5cac3 ;
    overflow-y: scroll;
}
.cards-header-2{
    position: sticky;
    top: 0;
    color: #fbb1bd;
    background-color: #ff7096;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 2rem;
    font-weight: bold;
}
.cards-2 ul{
    /* padding-left: 30px; */
    list-style: none;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}
.flex-list-1{
    display: flex;
    border-bottom: 1px solid #ffa6c1 ;
    padding-top: 10px;
    padding-bottom: 10px;
}
.flex-list-1-dates{
    /* padding-left: 0; */
    width: 50px;
    height: 50px;
    text-align: center;
    /* border: 2px solid black; */
    background-color: #ff7096;
    border-radius: 10px;
    padding: 5px 5px;
    margin-top: 10px;
    margin-left: 10px;
    box-sizing:unset;
    display: inline-block;
}
.flex-list-1-content{
    /* border: 2px solid black; */
    padding-left: 20px;
    font-size: 15px;
}
.flex-list-2{
    display: flex;
    border-bottom: 1px solid #ffa6c1 ;
    padding-top: 10px;
    padding-bottom: 10px;
}
.flex-list-2-dates{
    /* padding-left: 0; */
    width: 50px;
    height: 50px;
    text-align: center;
    /* border: 2px solid black; */
    background-color: #ff7096;
    border-radius: 10px;
    padding: 5px 5px;
    margin-top: 10px;
    margin-left: 10px;
    box-sizing:unset;
    display: inline-block;
}
.flex-list-2-content{
    /* border: 2px solid black; */
    padding-left: 20px;
    font-size: 15px;
}
.flex-list-3{
    display: flex;
    border-bottom: 1px solid #ffa6c1 ;
    padding-top: 10px;
    padding-bottom: 10px;
}
.flex-list-3-dates{
    /* padding-left: 0; */
    width: 50px;
    height: 50px;
    text-align: center;
    /* border: 2px solid black; */
    background-color: #ff7096;
    border-radius: 10px;
    padding: 5px 5px;
    margin-top: 10px;
    margin-left: 10px;
    box-sizing:unset;
    display: inline-block;
}
.flex-list-3-content{
    /* border: 2px solid black; */
    padding-left: 20px;
    font-size: 15px;
}
.flex-list-4{
    display: flex;
    border-bottom: 1px solid #ffa6c1 ;
    padding-top: 10px;
    padding-bottom: 10px;
}
.flex-list-4-dates{
    /* padding-left: 0; */
    width: 50px;
    height: 50px;
    text-align: center;
    /* border: 2px solid black; */
    background-color: #ff7096;
    border-radius: 10px;
    padding: 5px 5px;
    margin-top: 10px;
    margin-left: 10px;
    box-sizing:unset;
    display: inline-block;
}
.flex-list-4-content{
    /* border: 2px solid black; */
    padding-left: 20px;
    font-size: 15px;
}
.flex-list-5{
    display: flex;
    border-bottom: 1px solid #ffa6c1 ;
    padding-top: 10px;
    padding-bottom: 10px;
}
.flex-list-5-dates{
    /* padding-left: 0; */
    width: 50px;
    height: 50px;
    text-align: center;
    /* border: 2px solid black; */
    background-color: #ff7096;
    border-radius: 10px;
    padding: 5px 5px;
    margin-top: 10px;
    margin-left: 10px;
    box-sizing:unset;
    display: inline-block;
}
.flex-list-5-content{
    /* border: 2px solid black; */
    padding-left: 20px;
    font-size: 15px;
}
.flex-list-6{
    display: flex;
    border-bottom: 1px solid #ffa6c1 ;
    padding-top: 10px;
    padding-bottom: 10px;
}
.flex-list-6-dates{
    /* padding-left: 0; */
    width: 50px;
    height: 50px;
    text-align: center;
    /* border: 2px solid black; */
    background-color: #ff7096;
    border-radius: 10px;
    padding: 5px 5px;
    margin-top: 10px;
    margin-left: 10px;
    box-sizing:unset;
    display: inline-block;
}
.flex-list-6-content{
    /* border: 2px solid black; */
    padding-left: 20px;
    font-size: 15px;
}
.cards-2::-webkit-scrollbar{
    width: 10px;
}
.cards-2::-webkit-scrollbar-track{
background-color: #f1f1f1
}
.cards-2::-webkit-scrollbar-thumb{
    background-color: #fbb1bd;
}
.cards-2::-webkit-scrollbar-thumb:hover {
    background: #ff7096; 
}
/* .cards-2 ul a{
    color: black;
    text-decoration: none;
    font-size: 15px;
} */
.cards-3{
    /* border: 2px solid black; */
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    background-color: #c5dedd;
    width: 40%;
    
}
.cards-header-3{
    /* border-bottom: 1px solid #a9d6e5; */
    background-color: #006d77;
    color: #219ebc;
    margin-top: 0;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 2rem;
    font-weight: bold;
    border-top-left-radius: inherit;
}
.placement-images{
    display: flex;
    justify-content: space-evenly;
    /* border: 2px solid black; */
    padding-top: 10px;
}
.placement-images img{
    border-radius: 5px;
    width: 125px;
    height: 75px;
    border-right: 2px solid black;
}
.view-more{
    text-decoration: none;
    color: black;
    font-size: 14px;
}
.view-more:hover{

}
.cards-subcard-3{
    /* border: 2px solid black; */
    height: 150px;
    overflow-y: scroll;
}
.cards-subheader-3{
    /* border: 2px solid black; */
    position: sticky;
    top: 0;
    background-color: #83c5be;
    border-radius: 5px;
    text-align: center;
    color: #219ebc;
    font-weight: bold;
    font-size: 20px;
}
.cards-subcard-3::-webkit-scrollbar{
    width: 10px;
}
.cards-subcard-3::-webkit-scrollbar-track{
background-color: #f1f1f1
}
.cards-subcard-3::-webkit-scrollbar-thumb{
    background-color: #219ebc;
}
.cards-subcard-3::-webkit-scrollbar-thumb:hover {
    background: #83c5be; 
}
.cards-3-section{
    margin-top: 5px;
    display: flex;
    align-items: flex-start;
    line-height: 130%;
}
.cards-3-section-content{
    padding-left: 5px;
}
.cards-3-button{
    margin-left: 15px;
    margin-top: 4px;
    border-radius: 5px;
    background-color: inherit;
    /* border: 1px solid black; */
    border: none;
    color: #219ebc;
}
.cards-3-button a{
    text-decoration: none;
    color: inherit;
}
.cards-3-button:hover{
    background-color: #83c5be;
    transition: all 0.4s ;
}
.toggle{
    width:75% ;
    margin: auto;
    margin-top: 20px;
    border: 1px solid black;
    background-color: #fff6cc;
}
.toggle-header{
    /* border: 2px solid black; */
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 30px;
    font-weight: bold;
    background: #ffe97f;
}
.tab-content ul{
    list-style-image: url(caret-right-fill.svg);
}
.tab-content ul li{
    padding: 10px;
}
#pills-home-tab{
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
    /* background-color: #ffd400; */
}
.nav-pills li button.active{
    background: yellow;
}
#pills-profile-tab{
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
    /* color: white; */
    /* background-color: #ffd400; */
}